html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    color: lime;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Center wrapper */
  .link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 40px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #000;
  }
  
  /* Link list */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 20px;
  }
  
  ul li a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  ul li a:hover {
    color: black;
    background-color: lime;
    padding: 4px 8px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: url('images/rockhand.cur'), pointer;
  }
  
  /* Custom scrollbars */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: lime;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: red;
  }
  
  body {
    scrollbar-color: lime black;
    scrollbar-width: thin;
  }
  
  .ascii-bat {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 1.2rem;
    color: lime;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .github-link {
    font-size: 1.0em;
  }
  
